---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Feature from '../components/Feature.astro';
import Pricing from '../components/Pricing.astro'
import Cta from '../components/Cta.astro'
import Footer from '../components/Footer.astro'
import Garden from '../components/Garden.astro'
---



<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Hero></Hero>
		<About></About>
		<Feature></Feature>
		<Pricing></Pricing>
		<Cta></Cta>
		<Footer></Footer>
	</body>
</html>