---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/sk/Hero.astro';
import About from '../components/sk/About.astro';
import Feature from '../components/sk/Feature.astro';
import Pricing from '../components/sk/Pricing.astro'
import Cta from '../components/sk/Cta.astro'
import Footer from '../components/sk/Footer.astro'



---



<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />	
		<link rel="icon" type="image/svg+xml" href="/logo2.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Buy Premium Walnuts in Bulk | Best Walnuts - Wholesale Supplier</title>
		<meta name="google-site-verification" content="DxmeSRt18PvrHQ3bnX6UTaVFq-_OgZKX8L_7-VZk_uI" />
    <meta name="description" content="Explore the best wholesale deals on high-quality walnuts with Best Walnuts. From small to large orders, we offer premium nuts for your business. Contact us for competitive prices and prompt worldwide delivery.">
    <meta name="keywords" content="buy walnut,buy walnut europe,walnut wholesale, bulk walnuts, premium nuts, wholesale supplier, buy walnuts in bulk, Best Walnuts, high-quality walnuts, worldwide delivery">
	</head>
	<body>
		<Hero></Hero>
		<About></About>
		<Feature></Feature>	
		<Pricing></Pricing>
		<Cta></Cta>		
		<Footer></Footer>
		
	</body>
</html>