<h1 class="text-center p-10 text-xl font-semibold ">Pricing</h1>
<table class="table-auto bg-gray-50 border-collapse w-full shadow-xl">
    <thead>
      <tr>
        <th class="py-2 px-4 border border-gray-300 text-gray-200 bg-green-800">Weight (kg)</th>
        <th class="py-2 px-4 border border-gray-300 text-gray-200 bg-green-800">Price per Kilo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">10-100</td>
        <td class="py-2 px-4 border border-gray-300 text-center">6.00€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">100-500</td>
        <td class="py-2 px-4 border border-gray-300 text-center">5.50€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">500-1000</td>
        <td class="py-2 px-4 border border-gray-300 text-center">5.00€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">1000-5000</td>
        <td class="py-2 px-4 border border-gray-300 text-center">4.50€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">from 5000 and more</td>
        <td class="py-2 px-4 border border-gray-300 text-center">4.00€ per kilo + dilivery</td>
      </tr>
    </tbody>
  </table>