<h1 class="text-center p-10 text-xl font-semibold ">Pricing</h1>
<table class="table-auto bg-gray-50 border-collapse w-full shadow-xl">
    <thead>
      <tr>
        <th class="py-2 px-4 border border-gray-300 text-gray-200 bg-green-800">Weight (kg)</th>
        <th class="py-2 px-4 border border-gray-300 text-gray-200 bg-green-800">Price per Kilo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">1-50</td>
        <td class="py-2 px-4 border border-gray-300 text-center">3.70€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">50-100</td>
        <td class="py-2 px-4 border border-gray-300 text-center">3.60€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">100-200</td>
        <td class="py-2 px-4 border border-gray-300 text-center">3.50€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center">200-500</td>
        <td class="py-2 px-4 border border-gray-300 text-center">3.40€ per kilo + dilivery</td>
      </tr>
      <tr>
        <td class="py-2 px-4 border border-gray-300 text-center"> > 500</td>
        <td class="py-2 px-4 border border-gray-300 text-center">3.40€ per kilo + dilivery</td>
      </tr>
     
    </tbody>
  </table>